/* .main-content {
  width: 80%;
  border: 2px solid black;
  height: 70vh;
} */

.btn {
  background-color: #3aa6b9;
  color: white;
  margin-right: 10px;
  font-weight: 600;
  padding: 8px 14px;
  border-radius: 8px;
  display: inline-block;
  margin-top: 10px;
}
